Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy
  - post-deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - eval "docker build -t" "$DOCKER_IMAGE_FULL_NAME" "$BUILD_ARGS" "$POD_NAME"
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - master
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

dockerize-chain-db-watcher:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

#### stage:                        post-deploy

post-deploy:
  stage: post-deploy
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # redeploy all pod's
    - for d in $(kubectl -n $KUBE_NAMESPACE get deployments | awk '{print $1}' | grep -v NAME);
      do
        r=$(kubectl -n $KUBE_NAMESPACE get -o template deployments "$d" --template={{.spec.replicas}});
        kubectl scale deployment $d --replicas=0 -n $KUBE_NAMESPACE &&
        kubectl scale deployment $d --replicas=$r -n $KUBE_NAMESPACE;
      done

classname prop (#419)
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

status tag max-width (#416)
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

ugly code for notification control center
  front-end/src/screens/Settings/notification.tsx
Due: lint-front-end

fix
  front-end/src/generated/graphql.tsx
Due: lint-front-end

Fix
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/notification.tsx
Due: lint-front-end

Subscribing to own post if set in notification control center
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

Added subscription on participated post
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

Added treasury spend proposal in chain db
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  hasura/hasura-migrations/migrations/1582874306534_alter_table_public_onchain_links_add_column_onchain_treasury_proposal_id/down.yaml
  hasura/hasura-migrations/migrations/1582874306534_alter_table_public_onchain_links_add_column_onchain_treasury_proposal_id/up.yaml
Due: none

button box-shadow vars
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

Menu with logo (#412)
  front-end/src/assets/polkassembly-logo.png
  front-end/src/components/MenuBar/index.tsx
  front-end/src/fonts.css
  front-end/src/import-png.d.ts
  front-end/src/themes/theme.ts
Due: lint-front-end

secondary negative button color
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

Polkadot Pink (#415)
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

Added remote relationship for treasuryspend proposal
  hasura/hasura-migrations/migrations/1582891815240_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582891815240_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/up.yaml
Due: none

codegen
  front-end/src/generated/graphql.tsx
Due: lint-front-end

Update auth-server/src/controllers/eventsHook.ts
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

Update auth-server/src/services/email.ts
  auth-server/src/services/email.ts
Due: lint-back-end

hardcoded name
  front-end/src/components/Post/AddressDropdown.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/ui-components/Address.tsx
Due: lint-front-end

Update auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
Due: lint-back-end

Update auth-server/src/services/auth.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

Fixes as per review
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Fix
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/types.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
Due: lint-back-end

using NotificationPreferencesType
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
Due: lint-back-end

Added
  auth-server/src/schema/index.ts
  auth-server/src/schema/type/notificationPreferencesType.ts
Due: lint-back-end

Added notification control center (#411)
  auth-server/migrations/20200225193118_notification.js
  auth-server/src/model/Notification.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/schema/type/notificationPreferencesType.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
Due: lint-back-end

renamed to sendPostCommentSubscriptionMail
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

Notify user on create proposal (#383)
  auth-server/README.md
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/controllers/subscriptionHook.ts
  auth-server/src/routes.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582534538758_delete_trigger_post_subscription/down.yaml
  hasura/hasura-migrations/migrations/1582534538758_delete_trigger_post_subscription/up.yaml
  hasura/hasura-migrations/migrations/1582534572909_create_trigger_comment_create/down.yaml
  hasura/hasura-migrations/migrations/1582534572909_create_trigger_comment_create/up.yaml
  hasura/hasura-migrations/migrations/1582547761965_create_trigger_onchain_link_create/down.yaml
  hasura/hasura-migrations/migrations/1582547761965_create_trigger_onchain_link_create/up.yaml
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: lint-back-end

Added subscription on participated post (#421)
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

Subscribing to own post if set in notification control center (#420)
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

Added notification control center (#411)
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/schema/type/notificationPreferencesType.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
Due: lint-back-end

Notify user on create proposal (#383)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
Due: lint-back-end

styling and filter
  front-end/src/components/Post/AddressDropdown.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

Removed label
  front-end/src/screens/Settings/notification.tsx
Due: lint-front-end

Notification preferences
  front-end/src/screens/Settings/notification.tsx
Due: lint-front-end

showing changed button only if data change
  front-end/src/screens/Settings/notification.tsx
Due: lint-front-end

Changed notification preferences
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/schema/query/notification.ts
  auth-server/src/schema/type/notification.ts
  auth-server/src/schema/type/notificationPreferences.ts
  auth-server/src/schema/type/notificationPreferencesInput.ts
Due: lint-back-end

non camel case
  auth-server/src/resolvers/query/notification.ts
Due: lint-back-end

and guard
  auth-server/src/resolvers/query/notification.ts
Due: lint-back-end
