Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

api 1.8.1 and refactoring of governance info (#586)
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
  front-end/src/ui-components/AyeNayButtons.tsx
  front-end/src/ui-components/BalanceInput.tsx
  front-end/yarn.lock
Due: lint-front-end

vite referenda
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

Added seconds and votes in proposal/referendum governance side bar (#566)
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
  front-end/src/ui-components/AyeNayButtons.tsx
  front-end/src/ui-components/BalanceInput.tsx
  front-end/yarn.lock
Due: lint-front-end

Update AccountSelectionForm.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

init
  front-end/package.json
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/types.ts
  front-end/src/ui-components/VoteProgress.tsx
  front-end/yarn.lock
Due: lint-front-end

Update AccountSelectionForm.tsx (#588)
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

Moved reply form at the bottom of post
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

api and utils update
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

showing usernames of reacting users on hover of reactions
  front-end/src/components/Reactionbar/CommentReactionBar.tsx
  front-end/src/components/Reactionbar/PostReactionBar.tsx
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/types.ts
Due: lint-front-end

Sending subscription email to verified emails only
  auth-server/src/services/email.ts
Due: lint-back-end

Added facility to login with address
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

fix
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added address linking mutation
  auth-server/src/resolvers/index.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/addressLogin.ts
Due: lint-back-end

Added test for addressLogin
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
Due: lint-back-end

added copyright
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
Due: lint-back-end

box and avatar
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

problem with small amount
  front-end/package.json
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/ui-components/VoteProgress.tsx
  front-end/src/util/getEncodedAddress.ts
  front-end/src/util/getPassingThreshold.ts
  front-end/src/util/newton-raphson.ts
  front-end/yarn.lock
Due: lint-front-end

remove unused deps
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

Sending subscription email to verified emails only (#593)
  auth-server/src/services/email.ts
Due: lint-back-end

Added frontend for login
  front-end/src/App.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/AddressLoginForm/index.tsx
  front-end/src/screens/AddressLoginForm/query.ts
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

removed cancle button
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

clipping username
  front-end/src/components/Reactionbar/ReactionButton.tsx
Due: lint-front-end

method on govcard
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/OnchainCreationLabel.tsx
  front-end/src/ui-components/TopicTag.tsx
Due: lint-front-end

Moved reply form at the bottom of post (#590)
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

cleanup
  front-end/src/ui-components/VoteProgress.tsx
  front-end/src/util/getPassingThreshold.ts
Due: lint-front-end

own formating
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
  front-end/src/util/formatBnBalance.ts
Due: lint-front-end

simple majority
  front-end/src/util/getPassingThreshold.ts
Due: lint-front-end

mobile
  front-end/src/components/GovernanceCard.tsx
  front-end/src/ui-components/OnchainCreationLabel.tsx
  front-end/src/ui-components/TopicTag.tsx
Due: lint-front-end

spaces
  front-end/src/components/GovernanceCard.tsx
  front-end/src/ui-components/StatusTag.tsx
  front-end/src/ui-components/TopicTag.tsx
Due: lint-front-end

good for testing
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/types.ts
  front-end/src/ui-components/VoteProgress.tsx
  front-end/src/util/formatBnBalance.ts
  front-end/src/util/getPassingThreshold.ts
  front-end/src/util/solveQuadraticEquation.ts
Due: lint-front-end

#goodToTest
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

clean up
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

Added challenge message to login start
  auth-server/package.json
  auth-server/src/redis.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/addressLoginStart.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/addressLoginStart.ts
  auth-server/src/schema/type/addressLoginType.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  auth-server/yarn.lock
Due: lint-back-end

Added address login with challenge message frontend
  front-end/src/generated/graphql.tsx
  front-end/src/screens/AddressLoginForm/index.tsx
  front-end/src/screens/AddressLoginForm/query.ts
Due: lint-front-end

Added redis
  auth-server/docker-compose.yaml.example
  auth-server/src/redis.ts
  front-end/src/screens/AddressLoginForm/index.tsx
Due: lint-front-end, lint-back-end

5 minutes ttl
  auth-server/README.md
  auth-server/src/services/auth.ts
Due: lint-back-end

removing redundant things
  front-end/src/ui-components/OnchainCreationLabel.tsx
  front-end/src/ui-components/TopicTag.tsx
Due: lint-front-end

Update auth-server/src/services/auth.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

Update auth-server/src/utils/messages.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Update auth-server/README.md
  auth-server/README.md
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
