Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

styled balance
  front-end/src/components/Balance.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

spacing vote progress
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

lint
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
Due: lint-front-end

fix #639
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

fix logout
  auth-server/.eslintignore
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/tsconfig.json
Due: lint-back-end

fix user limit test
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

exit docker
  auth-server/package.json
Due: lint-back-end

remove unneeded
  auth-server/tsconfig.json
Due: lint-back-end

Update auth-server/package.json
  auth-server/package.json
Due: lint-back-end

fix #639 (#644)
  front-end/src/components/Post/PostContent.tsx
Due: lint-front-end

remove unused idColumb
  auth-server/src/model/Address.ts
  auth-server/src/model/ContentReport.ts
  auth-server/src/model/EmailVerificationToken.ts
  auth-server/src/model/Notification.ts
  auth-server/src/model/PasswordResetToken.ts
  auth-server/src/model/PostSubscription.ts
  auth-server/src/model/RefreshToken.ts
  auth-server/src/model/UndoEmailChangeToken.ts
  auth-server/src/model/User.ts
Due: lint-back-end

log received data
  chain-db-watcher/src/index.ts
Due: none

log received data (#645)
  chain-db-watcher/src/index.ts
Due: none

Fix test
  auth-server/package.json
  auth-server/src/services/auth.ts
  auth-server/test/services/email/email.spec.ts
  auth-server/yarn.lock
Due: lint-back-end

removed redis del
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
Due: lint-back-end

test rearrangements
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
Due: lint-back-end

lint
  front-end/src/screens/ResetPassword/index.tsx
Due: lint-front-end

Fixed mixed || and &&
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/util/formatBnBalance.ts
  front-end/src/util/inputToBn.ts
Due: lint-front-end

Requiring password for username email change
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/schema/mutation/changeEmail.ts
  auth-server/src/schema/mutation/changeUsername.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
Due: lint-back-end

Frontend
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/screens/Settings/username.tsx
Due: lint-front-end, lint-back-end

fix test
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
Due: lint-back-end

fix test
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
Due: lint-back-end

Update front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
Due: lint-front-end

alphabetic props
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

removed backup files
  kubernetes/polkassembly.bak/auth-server-deployment.yaml
  kubernetes/polkassembly.bak/auth-server-secrets.yaml
  kubernetes/polkassembly.bak/auth-server-service.yaml
  kubernetes/polkassembly.bak/chain-db-watcher-config.yaml
  kubernetes/polkassembly.bak/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly.bak/cloudsql-instance-credentials-secret.yaml
  kubernetes/polkassembly.bak/front-end-deployment.yaml
  kubernetes/polkassembly.bak/front-end-ingress.yaml
  kubernetes/polkassembly.bak/front-end-service.yaml
  kubernetes/polkassembly.bak/hasura-config.yaml
  kubernetes/polkassembly.bak/hasura-deployment.yaml
  kubernetes/polkassembly.bak/hasura-secrets.yaml
  kubernetes/polkassembly.bak/hasura-service.yaml
  kubernetes/polkassembly.bak/regcred-secret.yaml
Due: none

fix
  front-end/package.json
  front-end/yarn.lock
  util/CHANGELOG.md
  util/package.json
  util/src/getPassingThreshold.ts
Due: lint-front-end

fix (#648)
  front-end/package.json
  front-end/yarn.lock
  util/CHANGELOG.md
  util/package.json
  util/src/getPassingThreshold.ts
Due: lint-front-end

Update front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Update front-end/src/util/formatBnBalance.ts
  front-end/src/util/formatBnBalance.ts
Due: lint-front-end

removed comments in script
  .gitlab-ci.yml
Due: none

Voting loader fix
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
Due: lint-front-end

fixed cloudsql-credentials json filename
  kubernetes/polkassembly/templates/cloudsql-instance-credentials-secret.yaml
Due: none

fix
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

rename
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Fixed mixed || and && (#646)
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/util/formatBnBalance.ts
  front-end/src/util/inputToBn.ts
Due: lint-front-end

renamed vaules file for staging
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
Due: none

static tag + fix: hasura secret
  .gitlab-ci.yml
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
