Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

stages:
  - test
  - build

variables:
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/*"
  tags:
    - linux-docker

less verbosity
  front-end/src/ui-components/DismissableNotification.tsx
Due: none

Color adjustment
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Post/Post.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/TextArea.tsx
Due: none

EditablePostContent fix (#132)
  front-end/src/components/PostOrCommentForm.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/Post/Comment.tsx
  front-end/src/screens/Post/Comments.tsx
  front-end/src/screens/Post/CreateRootComment.tsx
  front-end/src/screens/Post/EditablePostContent.tsx
  front-end/src/screens/Post/Post.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/TextArea.tsx
Due: none

need to keep track of id to flush
  front-end/src/components/Notifications.tsx
  front-end/src/context/NotificationContext.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/types.ts
  front-end/src/ui-components/DismissableNotification.tsx
Due: none

Added Dockerfile
  auth-server/Dockerfile
Due: lint-back-end

Added dockerfile and dockerignore
  front-end/.dockerignore
  front-end/Dockerfile
Due: lint-front-end

Dockerfiles for frontend and auth server for kubernetes (#145)
  auth-server/Dockerfile
  front-end/.dockerignore
  front-end/Dockerfile
Due: lint-front-end, lint-back-end

post creation
  front-end/.eslintrc.json
  front-end/package.json
  front-end/src/components/Notifications.tsx
  front-end/src/context/NotificationContext.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/types.ts
  front-end/src/ui-components/DismissableNotification.tsx
  front-end/yarn.lock
Due: lint-front-end

remove login notification
  front-end/src/screens/LoginForm/index.tsx
Due: none

better signup handling
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
Due: none

init
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/Post/index.tsx
  front-end/src/screens/Proposals/index.tsx
  front-end/src/ui-components/Loader.tsx
Due: none

Update front-end/src/ui-components/Loader.tsx
  front-end/src/ui-components/Loader.tsx
Due: none

lint
  front-end/src/screens/SignupForm/index.tsx
Due: none

change pass
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
Due: none

change pass
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
Due: none

try cach sendgrid
  auth-server/src/services/email.ts
Due: none

more tests
  auth-server/Dockerfile
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
Due: lint-back-end

dockerfile back
  auth-server/Dockerfile
Due: lint-back-end

Add linting rule and align front and back (#137)
  auth-server/.eslintrc.json
  auth-server/src/model/connection.ts
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
  front-end/.eslintrc.json
  front-end/src/components/PostContent.tsx
  front-end/src/screens/Post/Comments.tsx
Due: lint-front-end, lint-back-end

Add notifications (#142)
  front-end/.eslintrc.json
  front-end/package.json
  front-end/src/App.tsx
  front-end/src/components/Notifications.tsx
  front-end/src/context/NotificationContext.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/CreatePost/query.ts
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/types.ts
  front-end/src/ui-components/DismissableNotification.tsx
  front-end/yarn.lock
Due: lint-front-end

Better loader (#147)
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/Post/index.tsx
  front-end/src/screens/Proposals/index.tsx
  front-end/src/ui-components/Loader.tsx
Due: none

Added username mutation
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeUsername.ts
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
Due: none

settings page
  front-end/src/App.tsx
  front-end/src/screens/MenuBar/index.tsx
  front-end/src/screens/Settings/index.tsx
Due: none

change username mutation
  front-end/README.md
  front-end/src/generated/auth-graphql.tsx
  front-end/src/screens/Settings/index.tsx
Due: lint-front-end

Added username view
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/username.tsx
Due: none

catch sendgrid
  auth-server/src/services/email.ts
Due: none

Added settings screen
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  front-end/src/components/Apollo.tsx
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/generated/auth-graphql.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/services/auth.service.tsx
  front-end/src/types.ts
Due: none

dropdown
  front-end/src/screens/MenuBar/index.tsx
Due: none

added notifications
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/username.tsx
Due: none

change test port to 5433
  auth-server/README.md
  auth-server/docker-compose-test.yaml
  auth-server/package.json
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/test.Dockerfile
Due: lint-back-end

Add tests for change email (#149)
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
Due: none

typo
  auth-server/src/utils/messages.ts
Due: none

typo (#153)
  auth-server/src/utils/messages.ts
Due: none

fixes as per review
  auth-server/README.md
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
Due: lint-back-end

lint fix
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/services/email.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
Due: none

Added env var
  auth-server/docker-compose-test.yaml
Due: lint-back-end

add jwt
  auth-server/docker-compose-test.yaml
Due: lint-back-end

working
  auth-server/README.md
  auth-server/docker-compose-test.yaml
  auth-server/src/index.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

lint
  auth-server/src/services/email.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
Due: none

Added username mutation (#151)
  auth-server/README.md
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeUsername.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
Due: lint-back-end
