Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy
  - post-deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - eval "docker build -t" "$DOCKER_IMAGE_FULL_NAME" "$BUILD_ARGS" "$POD_NAME"
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - master
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

dockerize-chain-db-watcher:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

#### stage:                        post-deploy

post-deploy:
  stage: post-deploy
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # redeploy all pod's
    - for d in $(kubectl -n $KUBE_NAMESPACE get deployments | awk '{print $1}' | grep -v NAME);
      do
        r=$(kubectl -n $KUBE_NAMESPACE get -o template deployments "$d" --template={{.spec.replicas}});
        kubectl scale deployment $d --replicas=0 -n $KUBE_NAMESPACE &&
        kubectl scale deployment $d --replicas=$r -n $KUBE_NAMESPACE;
      done

Update front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/SecondProposal.tsx
Due: lint-front-end

Update front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

icon color
  front-end/src/ui-components/HelperTooltip.tsx
Due: lint-front-end

Added secret in file
  .gitlab-ci.yml
  kubernetes/polkassembly/hasura-secrets.yaml
Due: none

fix gitlab
  .gitlab-ci.yml
  front-end/Dockerfile
  front-end/src/util/getNetwork.ts
Due: lint-front-end

fix
  .gitlab-ci.yml
Due: none

Added jwt hasura public key in file (#402)
  front-end/Dockerfile
  front-end/src/util/getNetwork.ts
  kubernetes/polkassembly/hasura-secrets.yaml
Due: lint-front-end

Use gitlab variable
  kubernetes/polkassembly/hasura-secrets.yaml
Due: none

Use gitlab variable (#403)
  kubernetes/polkassembly/hasura-secrets.yaml
Due: none

init
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/query.ts
Due: lint-front-end

preview prop
  front-end/src/ui-components/Markdown.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

lint
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

refactor statusTag
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

not reading theme vars
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/HelperTooltip.tsx
Due: lint-front-end

space
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

sc removed
  front-end/package.json
Due: lint-front-end

prevent non council votes
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/generated/graphql.tsx
Due: lint-front-end

generic styling
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Hide voting component when not active (#404)
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/global/statuses.ts
  front-end/src/ui-components/StatusTag.tsx
Due: lint-front-end

Color and font variables (#395)
  front-end/package.json
  front-end/src/components/ContentForm.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/TitleForm.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/DismissableNotification.tsx
  front-end/src/ui-components/FilteredError.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/InfoBox.tsx
  front-end/src/ui-components/Input.tsx
  front-end/src/ui-components/Modal.tsx
  front-end/src/ui-components/TextArea.tsx
Due: lint-front-end

one line classname
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

using formatBalance from polkadot util
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/util/parseBalance.ts
Due: lint-front-end

Adding subscription on post create
  auth-server/src/controllers/subscriptionHook.ts
  auth-server/src/routes.ts
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582524966535_create_trigger_post_author_subscription/down.yaml
  hasura/hasura-migrations/migrations/1582524966535_create_trigger_post_author_subscription/up.yaml
Due: lint-back-end

removed console
  auth-server/src/controllers/subscriptionHook.ts
Due: lint-back-end

removed mutation
  auth-server/README.md
  auth-server/docker-compose-test.yaml
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/notifyOnProposal.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/notifyOnProposal.ts
  auth-server/test/resolvers/mutation/notifyOnProposal.ts.spec.ts
Due: lint-back-end

same
  auth-server/docker-compose-test.yaml
Due: lint-back-end

removed notifyuser hook
  chain-db-watcher/README.md
  chain-db-watcher/src/graphql_helpers.ts
Due: none

fix chain db watcher
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
Due: none

removed from k8s
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

removed unused generated code
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

renaming event hook
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/routes.ts
  hasura/hasura-migrations/migrations/1582524966535_create_trigger_post_author_subscription/down.yaml
  hasura/hasura-migrations/migrations/1582524966535_create_trigger_post_author_subscription/up.yaml
Due: lint-back-end

Renamed event hooks
  auth-server/README.md
  auth-server/src/controllers/eventsHook.ts
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582534349274_create_trigger_post_create/down.yaml
  hasura/hasura-migrations/migrations/1582534349274_create_trigger_post_create/up.yaml
  hasura/hasura-migrations/migrations/1582534538758_delete_trigger_post_subscription/down.yaml
  hasura/hasura-migrations/migrations/1582534538758_delete_trigger_post_subscription/up.yaml
  hasura/hasura-migrations/migrations/1582534572909_create_trigger_comment_create/down.yaml
  hasura/hasura-migrations/migrations/1582534572909_create_trigger_comment_create/up.yaml
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/hasura-config.yaml
Due: lint-back-end

changed headers
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

slightly nicer
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

fix
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

Markdown style component (#385)
  front-end/package.json
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/ContentForm.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/TitleForm.tsx
  front-end/src/screens/CreatePost/TopicsRadio.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/DismissableNotification.tsx
  front-end/src/ui-components/FilteredError.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/InfoBox.tsx
  front-end/src/ui-components/Input.tsx
  front-end/src/ui-components/Markdown.tsx
  front-end/src/ui-components/Modal.tsx
  front-end/src/ui-components/TextArea.tsx
  front-end/src/ui-components/UpdateLabel.tsx
Due: lint-front-end

Added on chain post create event
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/routes.ts
  auth-server/src/services/email.ts
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582547761965_create_trigger_onchain_link_create/down.yaml
  hasura/hasura-migrations/migrations/1582547761965_create_trigger_onchain_link_create/up.yaml
Due: lint-back-end

Added config
  kubernetes/polkassembly/hasura-config.yaml
Due: none

added env vars in deployment
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none
