Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Avoid using the same port for prod and test (#460)
  kubernetes/README.md
Due: none

Fix as per review
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
Due: lint-front-end

Fix reset password
  front-end/src/screens/RequestResetPassword/index.tsx
Due: lint-front-end

fix motion query
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Motions/query.ts
Due: lint-front-end

lint
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
Due: lint-front-end

Added new proposal email
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
Due: lint-back-end

Niklabh feature treasury front end (#438)
  chain-db-watcher/src/graphql_helpers.ts
  front-end/src/App.tsx
  front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/post_topics.ts
  front-end/src/hooks/index.ts
  front-end/src/hooks/useRedirectMotion.ts
  front-end/src/screens/Home/LatestMotions/index.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
  front-end/src/screens/OnChain/Treasury/query.ts
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

largeScreen width
  front-end/src/screens/RequestResetPassword/index.tsx
Due: lint-front-end

Fix reset password (#462)
  front-end/src/screens/RequestResetPassword/index.tsx
Due: lint-front-end

Added redirection
  front-end/Dockerfile
  front-end/nginx/default.conf
  front-end/nginx/polkassembly.conf
Due: lint-front-end

Fixed typo in HASURA_CHAIN_DB_REMOTE_SCHEMA (#455)
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582552281519_update_remote_schema_chain-db/up.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

HASURA_AUTH_SERVER_REMOTE_SHCEMA
  kubernetes/polkassembly/hasura-config.yaml
Due: none

uncomment
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end

remove and add
  hasura/hasura-migrations/migrations/1583343381115_table_onchain_links_drop_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1583343381115_table_onchain_links_drop_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1583343385618_table_onchain_links_drop_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1583343385618_table_onchain_links_drop_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1583343390568_table_onchain_links_drop_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343390568_table_onchain_links_drop_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583343434377_table_onchain_links_drop_remote_relationship_onchain_treasury_spend_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343434377_table_onchain_links_drop_remote_relationship_onchain_treasury_spend_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583343458805_remove_remote_schema_chain-db/down.yaml
  hasura/hasura-migrations/migrations/1583343458805_remove_remote_schema_chain-db/up.yaml
  hasura/hasura-migrations/migrations/1583343552059_create_remote_schema_chain-db/down.yaml
  hasura/hasura-migrations/migrations/1583343552059_create_remote_schema_chain-db/up.yaml
  hasura/hasura-migrations/migrations/1583343614940_table_onchain_links_create_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1583343614940_table_onchain_links_create_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1583343651816_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1583343651816_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1583343703170_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343703170_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583343780587_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343780587_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/up.yaml
Due: none

motion after treasury
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

remove and add (#467)
  hasura/hasura-migrations/migrations/1583343381115_table_onchain_links_drop_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1583343381115_table_onchain_links_drop_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1583343385618_table_onchain_links_drop_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1583343385618_table_onchain_links_drop_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1583343390568_table_onchain_links_drop_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343390568_table_onchain_links_drop_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583343434377_table_onchain_links_drop_remote_relationship_onchain_treasury_spend_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343434377_table_onchain_links_drop_remote_relationship_onchain_treasury_spend_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583343458805_remove_remote_schema_chain-db/down.yaml
  hasura/hasura-migrations/migrations/1583343458805_remove_remote_schema_chain-db/up.yaml
  hasura/hasura-migrations/migrations/1583343552059_create_remote_schema_chain-db/down.yaml
  hasura/hasura-migrations/migrations/1583343552059_create_remote_schema_chain-db/up.yaml
  hasura/hasura-migrations/migrations/1583343614940_table_onchain_links_create_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1583343614940_table_onchain_links_create_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1583343651816_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1583343651816_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1583343703170_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343703170_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583343780587_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/down.yaml
  hasura/hasura-migrations/migrations/1583343780587_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/up.yaml
Due: none

Added name length check
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Fix href attribute warnings
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/screens/Settings/email.tsx
Due: lint-front-end

added update events hook on chain links
  hasura/hasura-migrations/migrations/1583398528688_modify_tr_onchain_link_create_ops/down.yaml
  hasura/hasura-migrations/migrations/1583398528688_modify_tr_onchain_link_create_ops/up.yaml
Due: none

HASURA_AUTH_SERVER_REMOTE_SHCEMA (#466)
  kubernetes/polkassembly/hasura-config.yaml
Due: none

add in deployment
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

fix
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

Add typo in deployment (#470)
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

HASURA_CHAIN_DB_REMOTE_SHCEMA
  kubernetes/polkassembly/hasura-config.yaml
Due: none

HASURA_CHAIN_DB_REMOTE_SHCEMA (#471)
  kubernetes/polkassembly/hasura-config.yaml
Due: none

Update auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/resolvers/mutation/signup.ts
Due: lint-back-end

Update auth-server/src/utils/messages.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added frontend validation
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/util/messages.ts
Due: lint-front-end

fix
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end

remove typo with a little hack
  hasura/hasura-migrations/migrations/1583343458805_remove_remote_schema_chain-db/down.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

remove typo with a little hack (#472)
  hasura/hasura-migrations/migrations/1583343458805_remove_remote_schema_chain-db/down.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

Added redirection (#465)
  front-end/Dockerfile
  front-end/nginx/default.conf
  front-end/nginx/polkassembly.conf
Due: lint-front-end

Added mutation for reporting content
  auth-server/migrations/20200305162755_content_report.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/reportContent.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added comments field for content report
  auth-server/migrations/20200305162755_content_report.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/mutation/reportContent.ts
Due: lint-back-end

Update front-end/src/util/messages.ts
  front-end/src/util/messages.ts
Due: lint-front-end

Added content report email
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/services/email.ts
Due: lint-back-end

Added name length check (#468)
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/messages.ts
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/util/messages.ts
Due: lint-front-end, lint-back-end

added variable for cloudsql-proxy connection
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

added variable for cloudsql-proxy connection (#474)
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

use 3 to 30 characters and pattern
  auth-server/src/resolvers/mutation/changeName.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/messages.ts
  auth-server/src/utils/validateName.ts
  auth-server/src/utils/validateUsername.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/utils/validateName/ValidateName.spec.ts
  auth-server/test/utils/validateUsername/validateUsername.spec.ts
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/util/messages.ts
Due: lint-front-end, lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
