Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Added treasury spend proposal in chain db (#422)
  chain-db-watcher/README.md
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
  hasura/hasura-migrations/migrations/1582874306534_alter_table_public_onchain_links_add_column_onchain_treasury_proposal_id/down.yaml
  hasura/hasura-migrations/migrations/1582874306534_alter_table_public_onchain_links_add_column_onchain_treasury_proposal_id/up.yaml
  hasura/hasura-migrations/migrations/1582891815240_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582891815240_table_onchain_links_create_remote_relationship_onchain_treasury_spend_proposal/up.yaml
  hasura/hasura-migrations/migrations/1583160765774_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160765774_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160772808_update_permission_anonymous_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160772808_update_permission_anonymous_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160780222_update_permission_user_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160780222_update_permission_user_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160793903_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160793903_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160911479_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160911479_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583174810003_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583174810003_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

Added treasury screen
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

fix graphql
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Treasury/query.ts
Due: lint-front-end

get HASURA_CHAIN_DB_REMOTE_SHCEMA from gitlab variable
  kubernetes/polkassembly/hasura-config.yaml
Due: none

get HASURA_CHAIN_DB_REMOTE_SHCEMA from gitlab variable (#445)
  kubernetes/polkassembly/hasura-config.yaml
Due: none

fix hasura deployment
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

fix hasura deployment (#446)
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

fix context not chaging bug
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end

Commented new proposal
  front-end/src/screens/NotificationSettings/index.tsx
Due: lint-front-end

fix
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
Due: none

fix
  front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Added treasury posts
  front-end/src/components/Post/Post.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
Due: lint-front-end

fix topic
  front-end/src/global/post_topics.ts
Due: lint-front-end

Fixed title
  chain-db-watcher/src/graphql_helpers.ts
Due: none

treasury non unique
  hasura/hasura-migrations/migrations/1583261325406_alter_table_public_onchain_links_alter_column_onchain_treasury_proposal_id/down.yaml
  hasura/hasura-migrations/migrations/1583261325406_alter_table_public_onchain_links_alter_column_onchain_treasury_proposal_id/up.yaml
Due: none

Update front-end/src/components/Post/AddressDropdown.tsx
  front-end/src/components/Post/AddressDropdown.tsx
Due: lint-front-end

Dropdown account component (#426)
  front-end/src/components/Post/AddressDropdown.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Added notification preferences to JWT (#434)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/resolvers/query/notification.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/getNotificationPreferencesFromUserId.ts
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/NotificationSettings/query.ts
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/notification.tsx
  front-end/src/screens/Settings/query.ts
  front-end/src/types.ts
Due: lint-front-end, lint-back-end

address dropdown styling
  front-end/src/components/Post/AddressDropdown.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Manual steps post production deployment
  kubernetes/README.md
Due: none

Indentation and #435
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/AddressDropdown.tsx
Due: lint-front-end

Address dropdown styling (#448)
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/AddressDropdown.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Updated manual deploy steps
  kubernetes/README.md
Due: none

Update kubernetes/README.md
  kubernetes/README.md
Due: none

fixes as per review
  kubernetes/README.md
Due: none

Manual steps post production deployment (#450)
  kubernetes/README.md
Due: none

user id
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

user id (#452)
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

added motion
  front-end/src/generated/graphql.tsx
  front-end/src/hooks/index.ts
  front-end/src/screens/OnChain/Treasury/query.ts
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

added motion
  front-end/src/hooks/useRedirectMotion.ts
Due: lint-front-end

rename variable
  front-end/src/screens/OnChain/Treasury/query.ts
Due: lint-front-end

swapped bond and value
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
Due: lint-front-end

Fixed typo in HASURA_CHAIN_DB_REMOTE_SCHEMA
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582552281519_update_remote_schema_chain-db/up.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

quote variable
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

quote variable (#458)
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

treasury non unique (#447)
  hasura/hasura-migrations/migrations/1583261325406_alter_table_public_onchain_links_alter_column_onchain_treasury_proposal_id/down.yaml
  hasura/hasura-migrations/migrations/1583261325406_alter_table_public_onchain_links_alter_column_onchain_treasury_proposal_id/up.yaml
Due: none

Avoid using the same port for prod and test
  kubernetes/README.md
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
