Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy
  - post-deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - eval "docker build -t" "$DOCKER_IMAGE_FULL_NAME" "$BUILD_ARGS" "$POD_NAME"
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - master
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

dockerize-chain-db-watcher:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

#### stage:                        post-deploy

post-deploy:
  stage: post-deploy
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # redeploy all pod's
    - for d in $(kubectl -n $KUBE_NAMESPACE get deployments | awk '{print $1}' | grep -v NAME);
      do
        r=$(kubectl -n $KUBE_NAMESPACE get -o template deployments "$d" --template={{.spec.replicas}});
        kubectl scale deployment $d --replicas=0 -n $KUBE_NAMESPACE &&
        kubectl scale deployment $d --replicas=$r -n $KUBE_NAMESPACE;
      done

Fix
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/notification.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end

fix
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

favicon
  front-end/public/favicon.ico
  front-end/public/logo192.png
  front-end/public/logo512.png
Due: lint-front-end

removed unused css
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

Niklabh feature notification control center front end (#418)
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/notification.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/schema/query/notification.ts
  auth-server/src/schema/type/notificationPreferences.ts
  auth-server/src/schema/type/notificationPreferencesInput.ts
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/CreatePost/index.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/notification.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end, lint-back-end

merge master
  front-end/src/generated/graphql.tsx
Due: lint-front-end

metadata reload
  launch.sh
Due: none

conflict
  auth-server/src/schema/type/notification.ts
Due: lint-back-end

Added available KSM balance to vote card (#360)
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
Due: lint-front-end

metadata reload (#425)
  launch.sh
Due: none

Onchain info style wrapper
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/ui-components/OnchainInfoStyle.tsx
Due: lint-front-end

favicon (#423)
  front-end/public/favicon.ico
  front-end/public/logo192.png
  front-end/public/logo512.png
Due: lint-front-end

lint
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

Added notification preferences to JWT
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/notification.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/getNotificationPreferencesFromUserId.ts
Due: lint-back-end

added notification preference in jwt token
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/context/UserDetailsContext.tsx
  front-end/src/types.ts
Due: lint-front-end

using postCreated from context
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/CreatePost/index.tsx
Due: lint-front-end

notififcation from context
  front-end/src/screens/Settings/notification.tsx
Due: lint-front-end

treasury topic id
  chain-db-watcher/README.md
  chain-db-watcher/src/graphql_helpers.ts
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

Moved notification to different page
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
  auth-server/src/services/auth.ts
  front-end/src/App.tsx
  front-end/src/components/MenuBar/index.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/NotificationSettings/index.tsx
  front-end/src/screens/NotificationSettings/query.ts
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/notification.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end, lint-back-end

hasura permissions
  hasura/hasura-migrations/migrations/1583160765774_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160765774_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160772808_update_permission_anonymous_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160772808_update_permission_anonymous_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160780222_update_permission_user_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160780222_update_permission_user_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160793903_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160793903_update_permission_proposal_bot_public_table_onchain_links/up.yaml
  hasura/hasura-migrations/migrations/1583160911479_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583160911479_update_permission_proposal_bot_public_table_onchain_links/up.yaml
Due: none

Menu, Form toggles, dropdown, text-muted
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Field.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

Update front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

Council voting (#405)
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/GovernanceSideBar/query.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

hasura permissions bis
  hasura/hasura-migrations/migrations/1583174810003_update_permission_proposal_bot_public_table_onchain_links/down.yaml
  hasura/hasura-migrations/migrations/1583174810003_update_permission_proposal_bot_public_table_onchain_links/up.yaml
Due: none

sync amd link motions
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/queries/chain-db.queries.ts
  chain-db-watcher/src/sync/queries/discussions-db.queries.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
Due: none

Menu, Form toggles, dropdown, text-muted (#436)
  front-end/src/components/MenuBar/index.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/ui-components/Field.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

watching part 1
  chain-db-watcher/src/graphql_helpers.ts
Due: none

front-end not launched
  launch.sh
Due: none

front-end not launched (#437)
  launch.sh
Due: none

Added treasury front end
  front-end/src/App.tsx
  front-end/src/components/Listings/TreasuryListing.tsx
  front-end/src/screens/Home/LatestTreasury/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
  front-end/src/screens/OnChain/Treasury/query.ts
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/TreasuryPost/index.tsx
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

watching
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/utils.ts
Due: none

nits
  chain-db-watcher/src/queries.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/src/types.ts
Due: none

visible navigation
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

renaming and removing classname
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

mobile logo
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Onchain Info Style Wrapper (#432)
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

Added graphql
  front-end/src/generated/graphql.tsx
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

menu dropdown active item font-weight
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

Fix menu items (#442)
  front-end/src/components/MenuBar/index.tsx
Due: lint-front-end

use everywhere
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/generated/graphql.tsx
Due: lint-front-end
