Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*

removed address login
  front-end/src/screens/AddressLoginForm/index.tsx
  front-end/src/screens/AddressLoginForm/query.ts
Due: lint-front-end

removed address login route
  front-end/src/App.tsx
  front-end/src/generated/graphql.tsx
Due: lint-front-end

removing redis token after password reset
  auth-server/src/redis.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

removed reset password mutation tests
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
Due: lint-back-end

added header
  auth-server/migrations/20200406182634_password_reset_token_remove.js
Due: lint-back-end

Fix double error and some styling
  front-end/src/components/Login/Web3Login.tsx
Due: lint-front-end

Fix double error and some styling (#633)
  front-end/src/components/Login/Web3Login.tsx
Due: lint-front-end

Added types to event hook
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

removed upload controller
  auth-server/package.json
  auth-server/src/controllers/upload.ts
  auth-server/src/routes.ts
  auth-server/yarn.lock
Due: lint-back-end

model fixes
  auth-server/src/index.ts
  auth-server/src/model/Address.ts
  auth-server/src/model/ContentReport.ts
  auth-server/src/model/EmailVerificationToken.ts
  auth-server/src/model/Notification.ts
  auth-server/src/model/PasswordResetToken.ts
  auth-server/src/model/PostSubscription.ts
  auth-server/src/model/RefreshToken.ts
  auth-server/src/model/UndoEmailChangeToken.ts
  auth-server/src/model/User.ts
  auth-server/src/types.ts
Due: lint-back-end

fixed return types
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  auth-server/src/types.ts
  auth-server/src/utils/setRefreshTokenCookie.ts
  auth-server/src/utils/verifySignature.ts
Due: lint-back-end

return types
  auth-server/src/model/errors.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

Added graphql types
  auth-server/package.json
  auth-server/src/resolvers/mutation/addressLinkConfirm.ts
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/resolvers/mutation/addressLoginStart.ts
  auth-server/src/resolvers/mutation/addressUnlink.ts
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changeName.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/resolvers/mutation/login.ts
  auth-server/src/resolvers/mutation/logout.ts
  auth-server/src/resolvers/mutation/postSubscribe.ts
  auth-server/src/resolvers/mutation/postUnsubscribe.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/resolvers/mutation/requestResetPassword.ts
  auth-server/src/resolvers/mutation/resendVerifyEmailToken.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/resolvers/mutation/undoEmailChange.ts
  auth-server/src/resolvers/mutation/verifyEmail.ts
  auth-server/src/resolvers/query/subscription.ts
  auth-server/src/resolvers/query/token.ts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/resolvers/query/users.ts
  auth-server/yarn.lock
Due: lint-back-end

redis types
  auth-server/knexfile.js
  auth-server/migrations/20180917160913_users.js
  auth-server/migrations/20191120202513_refresh_token.js
  auth-server/migrations/20191127101810_users_verified.js
  auth-server/migrations/20191203094429_password_reset_token.js
  auth-server/migrations/20191231152732_post_subscription.js
  auth-server/migrations/20200113102520_address.js
  auth-server/migrations/20200219104712_users_index.js
  auth-server/migrations/20200219105704_refresh_tokens_index.js
  auth-server/migrations/20200219105905_email_verification_token_index.js
  auth-server/migrations/20200219110001_password_reset_token_index.js
  auth-server/migrations/20200219110123_post_subscription_index.js
  auth-server/migrations/20200219110317_undo_email_change_token_index.js
  auth-server/migrations/20200225193118_notification.js
  auth-server/migrations/20200305162755_content_report.js
  auth-server/migrations/20200313181311_report_content_network.js
  auth-server/src/redis.ts
Due: lint-back-end

fix redis type
  auth-server/src/redis.ts
Due: lint-back-end

setup docker
  auth-server/docker-compose-test.yaml
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
Due: lint-back-end

fix not exported types
  auth-server/knexfile.js
  auth-server/src/model/connection.ts
  auth-server/src/resolvers/mutation/addressLinkConfirm.ts
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/resolvers/mutation/addressLoginStart.ts
  auth-server/src/resolvers/mutation/addressUnlink.ts
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changeName.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/resolvers/mutation/login.ts
  auth-server/src/resolvers/mutation/postSubscribe.ts
  auth-server/src/resolvers/mutation/postUnsubscribe.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/resolvers/mutation/requestResetPassword.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/resolvers/mutation/undoEmailChange.ts
  auth-server/src/resolvers/mutation/verifyEmail.ts
  auth-server/src/resolvers/query/subscription.ts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/resolvers/query/users.ts
  auth-server/src/types.ts
Due: lint-back-end

tsconfig restored
  auth-server/package.json
  auth-server/src/index.ts
  auth-server/src/model/connection.ts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/services/email.ts
  auth-server/tsconfig.json
Due: lint-back-end

Cards
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/ui-components/Card.tsx
Due: lint-front-end

AccountSelectionForm Balance prop
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
  front-end/src/ui-components/Card.tsx
Due: lint-front-end

nay position votingprogressbar
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

input inconsistency
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
Due: lint-front-end

large button
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

topic tag margin
  front-end/src/ui-components/OnchainCreationLabel.tsx
Due: lint-front-end

Changed password reset mutation
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/schema/mutation/resetPassword.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
Due: lint-back-end

dropdown item padding
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

spaces
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

Update ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

reset password change
  front-end/src/App.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ResetPassword/index.tsx
  front-end/src/screens/ResetPassword/query.ts
Due: lint-front-end

Added test
  auth-server/docker-compose-test.yaml
  auth-server/src/services/auth.ts
Due: lint-back-end

Added test
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
Due: lint-back-end

lint passing server running
  auth-server/package.json
  auth-server/src/index.ts
  auth-server/src/model/connection.ts
  auth-server/src/services/email.ts
  auth-server/tsconfig.json
  auth-server/yarn.lock
Due: lint-back-end

remove js
  auth-server/knexfile.ts
  auth-server/package.json
  auth-server/src/types.ts
  auth-server/tsconfig.json
  auth-server/yarn.lock
Due: lint-back-end

lint
  auth-server/src/types.ts
Due: lint-back-end

no need for skipLibCheck
  auth-server/tsconfig.json
Due: lint-back-end

remove tests from excluded
  auth-server/tsconfig.json
Due: lint-back-end

align with auth-server
  chain-db-watcher/tsconfig.json
Due: none

Update auth-server/src/services/auth.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

now selectorLabels make sense
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/auth-server-service.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/templates/frontend-deployment.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
  kubernetes/polkassembly/templates/hasura-service.yaml
Due: none

fix typos
  auth-server/src/resolvers/mutation/addressLinkConfirm.ts
  auth-server/src/types.ts
Due: lint-back-end
