Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

removed disable sort keys
  auth-server/src/resolvers/index.ts
Due: lint-back-end

updated templates
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/auth-server-service.yaml
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
  kubernetes/polkassembly/templates/hasura-service.yaml
  kubernetes/polkassembly/values-kusama-parity-prod.yaml
  kubernetes/polkassembly/values-kusama-test-installations.yaml
  kubernetes/polkassembly/values.yaml
Due: none

removed eslint disable line
  auth-server/package.json
  auth-server/src/services/auth.ts
  auth-server/yarn.lock
Due: lint-back-end

testing for redis url
  auth-server/src/redis.ts
Due: lint-back-end

lint fix
  auth-server/src/resolvers/index.ts
Due: lint-back-end

form validation fix
  front-end/src/components/ContentForm.tsx
Due: lint-front-end

remove any styled component
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Modal.tsx
  front-end/src/components/Notifications.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/NotFound/index.tsx
  front-end/src/screens/RequestResetPassword/ResetPassword/index.tsx
  front-end/src/screens/RequestResetPassword/index.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
  front-end/src/ui-components/Field.tsx
  front-end/src/ui-components/Group.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

delete content after submit
  front-end/src/components/ContentForm.tsx
  front-end/src/components/Post/PostCommentForm.tsx
Due: lint-front-end

reduce height for comment form
  front-end/src/components/ContentForm.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

sort
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

remove any styled component (#638)
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/Modal.tsx
  front-end/src/components/Notifications.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/NotFound/index.tsx
  front-end/src/screens/RequestResetPassword/ResetPassword/index.tsx
  front-end/src/screens/RequestResetPassword/index.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
  front-end/src/ui-components/Field.tsx
  front-end/src/ui-components/Group.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

added secrets for all depl.
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/auth-server-secrets.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-config.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/templates/frontend-deployment.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
  kubernetes/polkassembly/templates/hasura-secret.yaml
  kubernetes/polkassembly/values.yaml
Due: none

gitlab-ci now uses helm
  .gitlab-ci.yml
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/templates/frontend-deployment.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
  kubernetes/polkassembly/values.yaml
Due: none

moved docker registry to hub.docker.com/paritytech
  .gitlab-ci.yml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
Due: none

removed 'imagePullSecrets' & added cred. for docker.com
  .gitlab-ci.yml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
Due: none

Fv change of docker registrie (#640)
  .gitlab-ci.yml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
Due: none

Fix tests
  auth-server/.eslintrc.json
  auth-server/test/resolvers/mutation/addressLinkConfirm.spec.ts
  auth-server/test/resolvers/mutation/addressLinkStart.spec.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/resolvers/mutation/addressUnlink.spec.ts
  auth-server/test/resolvers/mutation/changeEmail.spec.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changePassword.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/login.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
  auth-server/test/resolvers/mutation/undoEmailChange.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/test/resolvers/query/user.spec.ts
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

Form validation fix (#637)
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/ContentForm.tsx
  front-end/src/components/Modal.tsx
  front-end/src/components/Notifications.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/NotFound/index.tsx
  front-end/src/screens/RequestResetPassword/ResetPassword/index.tsx
  front-end/src/screens/RequestResetPassword/index.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/UndoEmailChange/index.tsx
  front-end/src/screens/VerifyEmail/index.tsx
  front-end/src/ui-components/Field.tsx
  front-end/src/ui-components/Group.tsx
  front-end/src/ui-components/Loader.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

align with auth-server (#636)
  chain-db-watcher/tsconfig.json
Due: none

Fix test errors
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
  auth-server/test/resolvers/mutation/undoEmailChange.spec.ts
  auth-server/test/resolvers/mutation/verifyEmail.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/test/resolvers/query/user.spec.ts
  auth-server/test/resolvers/query/users.spec.ts
  auth-server/test/services/email/email.spec.ts
Due: lint-back-end

init
  util/.eslintignore
  util/.eslintrc.json
  util/.gitignore
  util/CHANGELOG.md
  util/LICENCE
  util/README.md
  util/package.json
  util/src/getPassingThreshold.ts
  util/src/index.ts
  util/src/newton-raphson.ts
  util/src/solveQuadraticEquation.ts
  util/src/types.ts
  util/tsconfig.json
  util/yarn-error.log
  util/yarn.lock
Due: none

no log
  util/.gitignore
  util/yarn-error.log
Due: none

v0.1.1
  util/package.json
Due: none

v0.1.1
  util/CHANGELOG.md
  util/README.md
  util/src/getPassingThreshold.ts
  util/src/newton-raphson.ts
  util/src/solveQuadraticEquation.ts
Due: none

v0.1.2
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/util/getPassingThreshold.ts
  front-end/src/util/newton-raphson.ts
  front-end/src/util/solveQuadraticEquation.ts
  front-end/yarn.lock
Due: lint-front-end

v0.1.2
  util/CHANGELOG.md
  util/package.json
  util/src/getPassingThreshold.ts
  util/src/newton-raphson.ts
  util/src/types.ts
Due: none

use @polkassembly/util
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/yarn.lock
Due: lint-front-end

Update front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
Due: lint-front-end

Update front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
Due: lint-front-end

Update front-end/src/ui-components/AccountSelectionForm.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
Due: lint-front-end

fix error message
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/test/setup.spec.ts
Due: lint-back-end

withBalance
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Update auth-server/test/resolvers/mutation/resetPassword.spec.ts
  auth-server/test/resolvers/mutation/resetPassword.spec.ts
Due: lint-back-end

Publish @polkassembly/util package and use it (#641)
  front-end/package.json
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/util/getPassingThreshold.ts
  front-end/yarn.lock
  util/.eslintignore
  util/.eslintrc.json
  util/.gitignore
  util/CHANGELOG.md
  util/LICENCE
  util/README.md
  util/package.json
  util/src/getPassingThreshold.ts
  util/src/index.ts
  util/src/newton-raphson.ts
  util/src/solveQuadraticEquation.ts
  util/src/types.ts
  util/tsconfig.json
  util/yarn.lock
Due: lint-front-end

Running redis on seperate port
  auth-server/docker-compose-test.yaml
Due: lint-back-end

added redis to test
  auth-server/docker-compose-test.yaml
Due: lint-back-end

threshold position
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

fix loginAddress
  auth-server/docker-compose-test.yaml
  auth-server/package.json
  auth-server/src/services/auth.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
