Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

getting chain db graphql url from ci var
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

getting chain db graphql url from ci var (#486)
  kubernetes/polkassembly/chain-db-watcher-config.yaml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml (#487)
  .gitlab-ci.yml
Due: none

prefix
  .gitlab-ci.yml
Due: none

prefix (#488)
  .gitlab-ci.yml
Due: none

no restart
  auth-server/docker-compose-test.yaml
Due: lint-back-end

no restart (#489)
  auth-server/docker-compose-test.yaml
Due: lint-back-end

sending just post id and type to email not link
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/services/email.ts
Due: lint-back-end

added report button to comment
  front-end/src/components/Comment/EditableCommentContent.tsx
Due: lint-front-end

removed p from Modal
  front-end/src/ui-components/Modal.tsx
Due: lint-front-end

set ip
  hasura/hasura-migrations/migrations/1578932276990_create_remote_schema_chain-db/up.yaml
Due: none

Commented balance component
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
Due: lint-front-end

yarn upgrade polkadot typescript react-scripts
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

Added server alias name ($ALIAS_DOMAIN_NAME) to frontend-ingress.
  kubernetes/polkassembly/front-end-ingress.yaml
Due: none

balance
  front-end/src/components/Balance.tsx
Due: lint-front-end

using derive api
  front-end/src/components/Balance.tsx
Due: lint-front-end

wrap up
  front-end/src/components/Balance.tsx
Due: lint-front-end

stray log
  front-end/src/components/Balance.tsx
Due: lint-front-end

set ip (#493)
  hasura/hasura-migrations/migrations/1578932276990_create_remote_schema_chain-db/up.yaml
Due: none

address comments
  CONTRIBUTING.md
Due: none

lint
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/util/decodePostgressArray.ts
Due: lint-front-end

Fix api errors (#496)
  front-end/package.json
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/util/decodePostgressArray.ts
  front-end/yarn.lock
Due: lint-front-end

add eslint security
  auth-server/.eslintrc.json
  auth-server/knexfile.js
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

not showing report button if on chain post
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

showing error message
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

added reason and comments length check
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/utils/messages.ts
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end, lint-back-end

add eslint security (#501)
  auth-server/.eslintrc.json
  auth-server/knexfile.js
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Update front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

latest hasura
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

latest hasura (#503)
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

more referenda
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
Due: lint-front-end

more referenda (#504)
  front-end/src/screens/OnChain/Motions/index.tsx
  front-end/src/screens/OnChain/Proposals/index.tsx
  front-end/src/screens/OnChain/Referenda/index.tsx
  front-end/src/screens/OnChain/Treasury/index.tsx
Due: lint-front-end

Added server alias name ($ALIAS_DOMAIN_NAME) to frontend-ingress. (#495)
  kubernetes/polkassembly/front-end-ingress.yaml
Due: none

Sending proper id when sending proposal created email
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
Due: lint-back-end

redirecting to https instead of http
  front-end/nginx/polkassembly.conf
Due: lint-front-end

redirecting to https instead of http (#507)
  front-end/nginx/polkassembly.conf
Due: lint-front-end

Exposed hasura service via frontend
  front-end/nginx/hasura.kusama.conf
  front-end/nginx/hasura.test.conf
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
