Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy
  - post-deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - eval "docker build -t" "$DOCKER_IMAGE_FULL_NAME" "$BUILD_ARGS" "$POD_NAME"
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - master
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

dockerize-chain-db-watcher:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

#### stage:                        post-deploy

post-deploy:
  stage: post-deploy
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # redeploy all pod's
    - for d in $(kubectl -n $KUBE_NAMESPACE get deployments | awk '{print $1}' | grep -v NAME);
      do
        r=$(kubectl -n $KUBE_NAMESPACE get -o template deployments "$d" --template={{.spec.replicas}});
        kubectl scale deployment $d --replicas=0 -n $KUBE_NAMESPACE &&
        kubectl scale deployment $d --replicas=$r -n $KUBE_NAMESPACE;
      done

Exposed hasura service via frontend (#508)
  front-end/nginx/hasura.kusama.conf
  front-end/nginx/hasura.test.conf
Due: lint-front-end

Allowed special characters and emojis 🥇 in name
  auth-server/src/utils/messages.ts
  auth-server/src/utils/validateName.ts
  front-end/src/screens/SignupForm/index.tsx
Due: lint-front-end, lint-back-end

removed unused
  front-end/src/util/messages.ts
Due: lint-front-end

Added api to context
  front-end/src/App.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/context/ApiContext.tsx
Due: lint-front-end

passing as context in balance
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
Due: lint-front-end

Added new proposal email (#463)
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/services/email.ts
  front-end/src/screens/NotificationSettings/index.tsx
  hasura/hasura-migrations/migrations/1583398528688_modify_tr_onchain_link_create_ops/down.yaml
  hasura/hasura-migrations/migrations/1583398528688_modify_tr_onchain_link_create_ops/up.yaml
Due: lint-front-end, lint-back-end

Removed unused regexp
  auth-server/src/utils/validateName.ts
Due: lint-back-end

Removed hasura service
  front-end/nginx/hasura.kusama.conf
  front-end/nginx/hasura.test.conf
Due: lint-front-end

Removed hasura service (#520)
  front-end/nginx/hasura.kusama.conf
  front-end/nginx/hasura.test.conf
Due: lint-front-end

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

added license header
  auth-server/src/model/ContentReport.ts
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
Due: lint-front-end, lint-back-end

Added license header here
  auth-server/src/resolvers/mutation/reportContent.ts
Due: lint-back-end

lint fix
  auth-server/src/services/email.ts
Due: lint-back-end

Update .gitlab-ci.yml (#521)
  .gitlab-ci.yml
Due: none

Report content button and mutation (#473)
  auth-server/migrations/20200305162755_content_report.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/reportContent.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/ui-components/Modal.tsx
Due: lint-front-end, lint-back-end

Using validator for validating email
  auth-server/package.json
  auth-server/src/utils/validateEmail.ts
  auth-server/yarn.lock
Due: lint-back-end

Allowed special characters and emojis 🥇 in name (#511)
  auth-server/src/utils/messages.ts
  auth-server/src/utils/validateName.ts
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/util/messages.ts
Due: lint-front-end, lint-back-end

rename textarea
  front-end/src/components/ContentForm.tsx
  front-end/src/ui-components/Markdown.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

Added ejs template engine
  auth-server/package.json
  auth-server/src/services/email.ts
  auth-server/yarn.lock
Due: lint-back-end

Update front-end/src/context/ApiContext.tsx
  front-end/src/context/ApiContext.tsx
Due: lint-front-end

Update front-end/src/components/Balance.tsx
  front-end/src/components/Balance.tsx
Due: lint-front-end

rename textarea (#523)
  front-end/src/components/ContentForm.tsx
  front-end/src/ui-components/Markdown.tsx
  front-end/src/ui-components/MarkdownEditor.tsx
Due: lint-front-end

Added api to context (#516)
  front-end/src/App.tsx
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/context/ApiContext.tsx
Due: lint-front-end

fix broken links
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
Due: lint-front-end

Using validator for validating email (#522)
  auth-server/package.json
  auth-server/src/utils/validateEmail.ts
  auth-server/yarn.lock
Due: lint-back-end

console fix
  front-end/src/components/Balance.tsx
Due: lint-front-end

using ejs templates for emails
  auth-server/src/services/email.ts
Due: lint-back-end

Moved templates to seperate file
  auth-server/src/services/email.ts
Due: lint-back-end

moved templates
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

add treasury info
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

fix broken links (#525)
  front-end/src/assets/privacy-policy.ts
  front-end/src/assets/terms-and-conditions.ts
Due: lint-front-end

add treasury info (#527)
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostTreasuryInfo.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/MotionPost/query.ts
  front-end/src/ui-components/OnchainInfoWrapper.tsx
Due: lint-front-end

Fixed domain
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

fix
  auth-server/src/utils/emailTemplates.ts
Due: lint-back-end

removed build from git
  chain-db-watcher/build/types.js
Due: none

using ts-node only
  chain-db-watcher/package.json
Due: none

Fixed contentId type to string to accomodate comment id
  auth-server/migrations/20200305162755_content_report.js
  auth-server/src/model/ContentReport.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/schema/mutation/reportContent.ts
  auth-server/src/services/email.ts
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-back-end

Added onchain identity display as displayname
  front-end/src/ui-components/Address.tsx
Due: lint-front-end
