Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

fix: JWT_PRIVATE_KEY name
  .gitlab-ci.yml
  kubernetes/polkassembly/templates/auth-server-secrets.yaml
  kubernetes/polkassembly/values.yaml
Due: none

fix: typo in cloudsql.instanceCredentials
  kubernetes/polkassembly/templates/cloudsql-instance-credentials-secret.yaml
Due: none

try to fix cloudsql start command
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
Due: none

quoting values in configMaps
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
Due: none

disables sec. scans & and fix: chain-db-watcher config
  .gitlab-ci.yml
  kubernetes/polkassembly/templates/chain-db-watcher-config.yaml
Due: none

basic functionality
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/ScrollToTopButton.tsx
Due: lint-front-end

fix: auth-server docker reg name
  kubernetes/polkassembly/values.yaml
Due: none

fix: auth-jwt secrets nameing mess
  .gitlab-ci.yml
  kubernetes/polkassembly/templates/auth-server-secrets.yaml
  kubernetes/polkassembly/values.yaml
Due: none

fix: auth-jwt secrets nameing mess. again!!
  kubernetes/polkassembly/templates/auth-server-secrets.yaml
Due: none

try with cloudsql v1.14
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
Due: none

mobile
  front-end/src/components/Post/Post.tsx
  front-end/src/ui-components/ScrollToTopWrapper.tsx
Due: lint-front-end

added right tcp port to cloudproxy cmd
  .gitlab-ci.yml
Due: none

fix: spelling of HASURA_ONCHAIN_LINK_CREATE_HOOK
  kubernetes/polkassembly/values.yaml
Due: none

loader in card / border-radius
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

reverted changes related to testing helm depl.
  .gitlab-ci.yml
Due: none

renamed prod values file
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Added bundle analyzer
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end

Much better bundle analyzer
  front-end/package.json
  front-end/scripts/analyze.js
  front-end/yarn.lock
Due: lint-front-end

in dev
  front-end/package.json
Due: lint-front-end

Fv helmify (#650)
  .gitlab-ci.yml
  kubernetes/polkassembly/.helmignore
  kubernetes/polkassembly/Chart.yaml
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/auth-server-secrets.yaml
  kubernetes/polkassembly/auth-server-service.yaml
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
  kubernetes/polkassembly/front-end-ingress.yaml
  kubernetes/polkassembly/front-end-service.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
  kubernetes/polkassembly/hasura-secrets.yaml
  kubernetes/polkassembly/hasura-service.yaml
  kubernetes/polkassembly/regcred-secret.yaml
  kubernetes/polkassembly/templates/_helpers.tpl
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/auth-server-deployment.yaml
  kubernetes/polkassembly/templates/auth-server-secrets.yaml
  kubernetes/polkassembly/templates/auth-server-service.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-config.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/templates/cloudsql-instance-credentials-secret.yaml
  kubernetes/polkassembly/templates/frontend-deployment.yaml
  kubernetes/polkassembly/templates/frontend-ingress.yaml
  kubernetes/polkassembly/templates/frontend-service.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
  kubernetes/polkassembly/templates/hasura-deployment.yaml
  kubernetes/polkassembly/templates/hasura-secret.yaml
  kubernetes/polkassembly/templates/hasura-service.yaml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

Governance Sidebar Styling (#635)
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/AccountSelectionForm.tsx
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Card.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/Input.tsx
  front-end/src/ui-components/Loader.tsx
  front-end/src/ui-components/OnchainCreationLabel.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

Added bundle analyzer (#651)
  front-end/package.json
  front-end/scripts/analyze.js
  front-end/yarn.lock
Due: lint-front-end

removed nodeSelector from config maps
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-config.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
Due: none

fix: header in values-*.yaml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

Fv fix prod depl with helm (#652)
  kubernetes/polkassembly/templates/auth-server-config.yaml
  kubernetes/polkassembly/templates/chain-db-watcher-config.yaml
  kubernetes/polkassembly/templates/hasura-config.yaml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
Due: none

set to 1
  kubernetes/polkassembly/values.yaml
Due: none

fix PROPOSAL_BOT_* vars
  kubernetes/polkassembly/values.yaml
Due: none

Update kubernetes/polkassembly/values.yaml
  kubernetes/polkassembly/values.yaml
Due: none

proposal bot user id not from gitlab
  kubernetes/polkassembly/values.yaml
Due: none

Set Proposal bo user id to 1 (#653)
  kubernetes/polkassembly/values.yaml
Due: none

actions api error text
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

values for test and prod
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

values for test and prod
  .gitlab-ci.yml
Due: none

Bot id set as variable (#655)
  .gitlab-ci.yml
  kubernetes/polkassembly/values-dashboards-cluster-1.yaml
  kubernetes/polkassembly/values-parity-prod.yaml
  kubernetes/polkassembly/values.yaml
Due: none

info loader
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

to dev
  front-end/package.json
Due: lint-front-end

nullable
  hasura/hasura-migrations/migrations/1587052949446_alter_table_public_posts_alter_column_title/down.yaml
  hasura/hasura-migrations/migrations/1587052949446_alter_table_public_posts_alter_column_title/up.yaml
Due: none

no title in chain-db-watcher
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/queries/discussions-db.queries.ts
Due: none

removed requestResetPassword
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
Due: lint-back-end

user id in query
  auth-server/src/services/email.ts
  front-end/src/App.tsx
  front-end/src/screens/ResetPassword/index.tsx
Due: lint-front-end, lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
