Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*

reaction working
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

styling
  front-end/src/components/Post/GovernanceSideBar/AccountSelectionForm.tsx
  front-end/src/components/Post/GovernanceSideBar/AyeNayButtons.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
Due: lint-front-end

fix redirect for 0
  front-end/src/hooks/useRedirectMotion.ts
  front-end/src/hooks/useRedirectReferenda.ts
Due: lint-front-end

upgrade
  auth-server/package.json
  auth-server/yarn.lock
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end, lint-back-end

fix redirect for 0 (#558)
  front-end/src/hooks/useRedirectMotion.ts
  front-end/src/hooks/useRedirectReferenda.ts
Due: lint-front-end

upgrade eslint plugins
  auth-server/package.json
  auth-server/yarn.lock
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end, lint-back-end

Added delete mutations
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/index.tsx
  front-end/src/components/Reactionbar/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

Voting component refactoring (#553)
  chain-db-watcher/build/types.js
  front-end/src/components/Post/GovernanceSideBar/AccountSelectionForm.tsx
  front-end/src/components/Post/GovernanceSideBar/AyeNayButtons.tsx
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Loader.tsx
Due: lint-front-end

Upgrade eslint and polkadot api (#559)
  auth-server/package.json
  auth-server/yarn.lock
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
  front-end/package.json
  front-end/yarn.lock
Due: lint-front-end, lint-back-end

upgrade ts
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: none

upgrade ts
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Upgrade ts to 3.8.3 (#560)
  auth-server/package.json
  auth-server/yarn.lock
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: lint-back-end

Finally working
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/index.tsx
  front-end/src/components/Reactionbar/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

use validator equals
  auth-server/src/services/auth.ts
Due: lint-back-end

readme
  front-end/src/components/Reactionbar/ReactionButton.tsx
  hasura/README.md
Due: lint-front-end

Added select permission on reactions
  hasura/hasura-migrations/migrations/1584533428256_update_permission_anonymous_public_table_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584533428256_update_permission_anonymous_public_table_reactions/up.yaml
  hasura/hasura-migrations/migrations/1584533441059_update_permission_user_public_table_reactions/down.yaml
  hasura/hasura-migrations/migrations/1584533441059_update_permission_user_public_table_reactions/up.yaml
Due: none

valid in block
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
Due: lint-front-end

valid in block (#561)
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
Due: lint-front-end

remove useless service worker file
  front-end/src/logo.svg
  front-end/src/serviceWorker.ts
Due: lint-front-end

use validator for old password check
  auth-server/src/services/auth.ts
  auth-server/src/utils/validateEmail.ts
Due: lint-back-end

enhanced loading
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/types.ts
Due: lint-front-end

reactions for comments
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Reactionbar/index.tsx
  front-end/src/fragments/comments.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

reactions for comments
  front-end/src/fragments/commentReactions.ts
Due: lint-front-end

on motion and referenda
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

Fix gitlab security warnings (#563)
  auth-server/src/services/auth.ts
  auth-server/src/utils/validateEmail.ts
  front-end/src/logo.svg
  front-end/src/serviceWorker.ts
Due: lint-front-end, lint-back-end

typo
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
Due: lint-front-end

destructuring
  front-end/src/components/Reactionbar/index.tsx
Due: lint-front-end

fix docker compose example
  hasura/docker-compose.yaml.example
Due: none

removed disable eslint
  front-end/src/components/Reactionbar/ReactionButton.tsx
Due: lint-front-end

Enhanced loading status (#564)
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteReferendum.tsx
  front-end/src/types.ts
Due: lint-front-end

removed context
  front-end/src/App.tsx
  front-end/src/context/ReactionContext.tsx
  front-end/src/context/query.ts
Due: lint-front-end

with refetch
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/index.tsx
  front-end/src/fragments/comments.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/DiscussionPost/query.ts
  front-end/src/screens/MotionPost/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
  front-end/src/screens/TreasuryPost/query.ts
Due: lint-front-end

relationship
  hasura/hasura-migrations/migrations/1584616062898_create_relationship_reactions_public_table_comments/down.yaml
  hasura/hasura-migrations/migrations/1584616062898_create_relationship_reactions_public_table_comments/up.yaml
  hasura/hasura-migrations/migrations/1584616073168_create_relationship_reactions_public_table_posts/down.yaml
  hasura/hasura-migrations/migrations/1584616073168_create_relationship_reactions_public_table_posts/up.yaml
Due: none

reacting user
  front-end/src/components/Reactionbar/index.tsx
  front-end/src/fragments/commentReactions.ts
  front-end/src/fragments/postReactions.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

removed name
  front-end/src/fragments/commentReactions.ts
  front-end/src/fragments/postReactions.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end

color from pallet
  front-end/src/components/Reactionbar/ReactionButton.tsx
Due: lint-front-end

added error on not logged in
  front-end/src/components/Reactionbar/ReactionButton.tsx
Due: lint-front-end

people renamed to userMap
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/index.tsx
Due: lint-front-end

lint fix
  front-end/src/components/Reactionbar/index.tsx
Due: lint-front-end

reacting user
  hasura/hasura-migrations/migrations/1584704715110_table_comment_reactions_drop_remote_relationship_reactor/down.yaml
  hasura/hasura-migrations/migrations/1584704715110_table_comment_reactions_drop_remote_relationship_reactor/up.yaml
  hasura/hasura-migrations/migrations/1584704749958_table_comment_reactions_create_remote_relationship_reacting_user/down.yaml
  hasura/hasura-migrations/migrations/1584704749958_table_comment_reactions_create_remote_relationship_reacting_user/up.yaml
  hasura/hasura-migrations/migrations/1584704765149_table_post_reactions_drop_remote_relationship_reactor/down.yaml
  hasura/hasura-migrations/migrations/1584704765149_table_post_reactions_drop_remote_relationship_reactor/up.yaml
  hasura/hasura-migrations/migrations/1584704783342_table_post_reactions_create_remote_relationship_reacting_user/down.yaml
  hasura/hasura-migrations/migrations/1584704783342_table_post_reactions_create_remote_relationship_reacting_user/up.yaml
Due: none
