Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

intr. stagin & production depl. stages
  .gitlab-ci.yml
Due: none

fix tests
  auth-server/test/utils/validateName/ValidateName.spec.ts
  auth-server/test/utils/validateUsername/validateUsername.spec.ts
Due: lint-back-end

lint
  auth-server/src/resolvers/mutation/changeName.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/utils/validateName.ts
  auth-server/src/utils/validateUsername.ts
  auth-server/test/utils/validateName/ValidateName.spec.ts
  auth-server/test/utils/validateUsername/validateUsername.spec.ts
Due: lint-back-end

Fv deploy production (#476)
  .gitlab-ci.yml
Due: none

fix and clean errors
  auth-server/src/utils/messages.ts
  auth-server/src/utils/validateName.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
  auth-server/test/utils/validateName/ValidateName.spec.ts
Due: lint-back-end

clean messages
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/FilteredError.tsx
  front-end/src/util/cleanError.ts
Due: lint-front-end

nit to makes things clear
  front-end/src/util/messages.ts
Due: lint-front-end

lint
  front-end/src/util/cleanError.ts
Due: lint-front-end

Username and Name validation refactor (#475)
  auth-server/src/resolvers/mutation/changeName.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/utils/messages.ts
  auth-server/src/utils/validateName.ts
  auth-server/src/utils/validateUsername.ts
  auth-server/test/resolvers/mutation/changeName.spec.ts
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
  auth-server/test/resolvers/mutation/changeUsername.spec.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
  auth-server/test/utils/validateName/ValidateName.spec.ts
  auth-server/test/utils/validateUsername/validateUsername.spec.ts
  front-end/src/screens/Settings/address.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/fullname.tsx
  front-end/src/screens/Settings/password.tsx
  front-end/src/screens/Settings/username.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/FilteredError.tsx
  front-end/src/util/cleanError.ts
  front-end/src/util/messages.ts
Due: lint-front-end, lint-back-end

lint
  auth-server/src/utils/validateName.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

lint (#477)
  auth-server/src/utils/validateName.ts
  auth-server/test/resolvers/mutation/signup.spec.ts
Due: lint-back-end

fix undefined post
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/NoPostFound.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

nit
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

lint
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/NoPostFound.tsx
Due: lint-front-end

useless comment
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Fix undefined post (#478)
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/NoPostFound.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

frontend now dockerize in prod and staging
  .gitlab-ci.yml
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
  kubernetes/polkassembly/front-end-ingress.yaml
Due: none

Fv deploy production (#479)
  .gitlab-ci.yml
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/front-end-deployment.yaml
  kubernetes/polkassembly/front-end-ingress.yaml
Due: none

Added report button
  auth-server/src/schema/mutation/reportContent.ts
  front-end/src/components/Post/Post.tsx
  front-end/src/components/ReportButton/index.tsx
  front-end/src/components/ReportButton/query.ts
  front-end/src/generated/graphql.tsx
Due: lint-front-end, lint-back-end

changed order
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

added check if own proposal sent not sent new proposal email
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

10s more before hasura launch
  launch.sh
Due: none

Added form
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

fix
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

10s more before hasura launch (#480)
  launch.sh
Due: none

Added report button
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

close button
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

Added icon
  front-end/src/components/ReportButton/index.tsx
Due: lint-front-end

added docker-registry pull secret
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/regcred-secret.yaml
Due: none

added docker reg secret to k8s and chaindb depl
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/regcred-secret.yaml
Due: none

added docker reg secret to k8s and chaindb depl (#483)
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
  kubernetes/polkassembly/regcred-secret.yaml
Due: none

Update README.md
  kubernetes/README.md
Due: none

licence and contributing
  CONTRIBUTING.md
  LICENCE
Due: none

Tbaut patch doc (#484)
  kubernetes/README.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
