Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

adding Loader
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

Logging connection state and errors (#608)
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/sync/index.ts
Due: none

Update auth-server/migrations/20191127103957_email_verification_token.js
  auth-server/migrations/20191127103957_email_verification_token.js
Due: lint-back-end

Update auth-server/migrations/20200111182158_undo_email_change_token.js
  auth-server/migrations/20200111182158_undo_email_change_token.js
Due: lint-back-end

Showing usernames of reacting users in popup on hover of reactions (#591)
  front-end/src/components/Reactionbar/CommentReactionBar.tsx
  front-end/src/components/Reactionbar/PostReactionBar.tsx
  front-end/src/components/Reactionbar/ReactionButton.tsx
  front-end/src/components/Reactionbar/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/types.ts
Due: lint-front-end

Loader dimmer height
  front-end/src/components/Login/Web3Login.tsx
Due: lint-front-end

Web3 login design changes (#601)
  front-end/src/App.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Login/query.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/AddressLoginForm/query.ts
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

silence test warnings
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

showing caught error in ui
  front-end/src/components/Login/Web3Login.tsx
Due: lint-front-end

fix lint
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
Due: lint-front-end

lint fix
  front-end/src/components/Login/Web3Login.tsx
Due: lint-front-end

silence test warnings (#612)
  auth-server/test/resolvers/mutation/logout.spec.ts
  auth-server/test/resolvers/mutation/postSubscribe.spec.ts
  auth-server/test/resolvers/mutation/postUnsubscribe.spec.ts
  auth-server/test/resolvers/query/subscription.spec.ts
  auth-server/test/resolvers/query/users.spec.ts
Due: lint-back-end

Login with linked web3 account feature (#594)
  auth-server/README.md
  auth-server/docker-compose-test.yaml
  auth-server/docker-compose.yaml.example
  auth-server/package.json
  auth-server/src/redis.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/resolvers/mutation/addressLoginStart.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/addressLogin.ts
  auth-server/src/schema/mutation/addressLoginStart.ts
  auth-server/src/schema/type/addressLoginType.ts
  auth-server/src/services/auth.ts
  auth-server/src/types.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/addressLogin.spec.ts
  auth-server/yarn.lock
  front-end/src/App.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Login/query.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/AccountSelectionForm.tsx
  front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
Due: lint-front-end, lint-back-end

config
  auth-server/.eslintrc.json
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

70 errors to go
  auth-server/src/utils/getNotificationPreferencesFromUserId.ts
Due: lint-back-end

27
  auth-server/src/model/Notification.ts
  auth-server/src/model/PasswordResetToken.ts
  auth-server/src/model/User.ts
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/addressLinkConfirm.ts
  auth-server/src/resolvers/mutation/addressLinkStart.ts
  auth-server/src/resolvers/mutation/addressLogin.ts
  auth-server/src/resolvers/mutation/addressLoginStart.ts
  auth-server/src/resolvers/mutation/addressUnlink.ts
  auth-server/src/resolvers/mutation/changeEmail.ts
  auth-server/src/resolvers/mutation/changeName.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/resolvers/mutation/changePassword.ts
  auth-server/src/resolvers/mutation/changeUsername.ts
  auth-server/src/resolvers/mutation/login.ts
  auth-server/src/resolvers/mutation/logout.ts
  auth-server/src/resolvers/mutation/postSubscribe.ts
  auth-server/src/resolvers/mutation/postUnsubscribe.ts
  auth-server/src/resolvers/mutation/reportContent.ts
  auth-server/src/resolvers/mutation/requestResetPassword.ts
  auth-server/src/resolvers/mutation/resendVerifyEmailToken.ts
  auth-server/src/resolvers/mutation/resetPassword.ts
  auth-server/src/resolvers/mutation/signup.ts
  auth-server/src/resolvers/mutation/undoEmailChange.ts
  auth-server/src/resolvers/mutation/verifyEmail.ts
  auth-server/src/resolvers/query/subscription.ts
  auth-server/src/resolvers/query/token.ts
  auth-server/src/resolvers/query/user.ts
  auth-server/src/resolvers/query/users.ts
  auth-server/src/services/auth.ts
  auth-server/src/utils/getUserFromUserId.ts
Due: lint-back-end

add eslint-security
  chain-db-watcher/.eslintrc.json
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: none

use node 12 in Docker
  auth-server/Dockerfile
  auth-server/test.Dockerfile
  chain-db-watcher/Dockerfile
  front-end/Dockerfile
Due: lint-front-end, lint-back-end

use node 12 in Docker (#615)
  auth-server/Dockerfile
  auth-server/test.Dockerfile
  chain-db-watcher/Dockerfile
  front-end/Dockerfile
Due: lint-front-end, lint-back-end

max 10**20
  front-end/src/util/getPassingThreshold.ts
Due: lint-front-end

use total votes with multiplicators
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

max 10**20 (#616)
  front-end/src/util/getPassingThreshold.ts
Due: lint-front-end

use total votes with multiplicators (#617)
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/ui-components/VoteProgress.tsx
Due: lint-front-end

add eslint-security (#614)
  chain-db-watcher/.eslintrc.json
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: none

new hasura image
  hasura/docker-compose.yaml.example
Due: none

testing redis deployment
  .gitlab-ci.yml
  kubernetes/redis/Makefile
  kubernetes/redis/values/dashboards-cluster-1.yaml
Due: none

removed my test branch
  .gitlab-ci.yml
Due: none

added redis config for parity-prod env
  kubernetes/redis/values/parity-prod.yaml
Due: none

Fv redis support (#621)
  .gitlab-ci.yml
  kubernetes/redis/Makefile
  kubernetes/redis/values/dashboards-cluster-1.yaml
  kubernetes/redis/values/parity-prod.yaml
Due: none

reenabled deployment with kubectl
  .gitlab-ci.yml
Due: none

reenabled deployment with kubectl (#622)
  .gitlab-ci.yml
Due: none

add id
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

Added missing id in queries
  front-end/src/components/Post/GovernanceSideBar/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

Added missing id in queries (#627)
  front-end/src/components/Post/GovernanceSideBar/query.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
Due: lint-front-end

Healthcheck urls in readme
  auth-server/README.md
  front-end/README.md
  hasura/README.md
Due: lint-front-end, lint-back-end

removed unused reactions
  hasura/README.md
Due: none

Added Healthcheck urls in readme (#629)
  auth-server/README.md
  front-end/README.md
  hasura/README.md
Due: lint-front-end, lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
