Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

not showing notification warning
  front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

using sementic ui react select
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

removed labels spaces
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

removed title
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

Allow proposal / referendum edit (#284)
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

Get latest status (hoping for prisma to send them in order...) (#298)
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/OnChain/query.ts
  front-end/src/screens/ProposalPost/query.ts
  front-end/src/screens/ReferendumPost/query.ts
Due: lint-front-end

Opening polkadot extesion popup only on button click and not automatically
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

redirecting to referendum if onchain_referendum_id is in onchain_link
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/ProposalPost/query.ts
Due: lint-front-end

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

redirecting to referendum if onchain_referendum_id is in onchain_link (#302)
  front-end/src/generated/graphql.tsx
  front-end/src/screens/ProposalPost/index.tsx
  front-end/src/screens/ProposalPost/query.ts
Due: lint-front-end

proposal info checking
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
Due: lint-front-end

arguments fix
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
Due: lint-front-end

Proposal & Referenda Styling / Home query (#276)
  front-end/src/components/Comment/Comment.tsx
  front-end/src/components/Comment/Comments.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/DiscussionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/PostContent.tsx
  front-end/src/components/Post/PostProposalInfo.tsx
  front-end/src/components/Post/PostReferendumInfo.tsx
  front-end/src/components/PostContent.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/global/chainProperties.ts
  front-end/src/screens/Discussions/Discussions.tsx
  front-end/src/screens/Discussions/index.tsx
  front-end/src/screens/Discussions/query.ts
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/Home/LatestDiscussion/index.tsx
  front-end/src/screens/Home/LatestProposal/index.tsx
  front-end/src/screens/Home/LatestReferendum/index.tsx
  front-end/src/screens/Home/index.tsx
  front-end/src/screens/Home/query.ts
  front-end/src/screens/MenuBar/index.tsx
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/screens/OnChain/index.tsx
  front-end/src/screens/OnChain/query.ts
  front-end/src/themes/theme.ts
  front-end/src/ui-components/CreationLabel.tsx
  front-end/src/ui-components/GlobalStyle.tsx
  front-end/src/ui-components/InlineTag.tsx
  front-end/src/ui-components/StatusTag.tsx
  front-end/src/ui-components/UpdateLabel.tsx
Due: lint-front-end

testing build-args
  .gitlab-ci.yml
  front-end/Dockerfile
Due: lint-front-end

BUILD_ARGS in before_script
  .gitlab-ci.yml
Due: none

disable \n interpretation in echo
  .gitlab-ci.yml
Due: none

added polkadot-js
  front-end/src/components/Post/Democracy.tsx
Due: lint-front-end

Update front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/Democracy.tsx
Due: lint-front-end

time lock
  front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
Due: lint-front-end

wording change
  front-end/src/components/Post/Democracy.tsx
Due: lint-front-end

try to quote space in value
  .gitlab-ci.yml
Due: none

try to quote space in value(2nd)
  .gitlab-ci.yml
Due: none

try single build argument
  .gitlab-ci.yml
Due: none

test with auth-server imgage
  .gitlab-ci.yml
Due: none

User can votes on proposal (#265)
  front-end/README.md
  front-end/package.json
  front-end/src/components/Post/Democracy.tsx
  front-end/src/components/Post/Post.tsx
  front-end/src/components/Post/SecondProposal.tsx
  front-end/src/components/Post/VoteRefrendum.tsx
  front-end/src/screens/Home/HomeContent.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/yarn.lock
Due: lint-front-end

added REACT_APP_JWT_PUBLIC_KEY=
  .gitlab-ci.yml
Due: none

added REACT_APP_JWT_PUBLIC_KEY (#304)
  .gitlab-ci.yml
Due: none

dockerise chain db watcher (#305)
  .gitlab-ci.yml
  chain-db-watcher/.dockerignore
  chain-db-watcher/Dockerfile
  chain-db-watcher/README.md
  kubernetes/polkassembly/chain-db-watcher-config.yaml
  kubernetes/polkassembly/chain-db-watcher-deployment.yaml
Due: none

added resendVerifyEmailToken mutation
  auth-server/README.md
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/resendVerifyEmailToken.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/resendVerifyEmailToken.ts
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
Due: lint-back-end

added link to resend email verification token
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/email.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end

added text to link address button
  front-end/src/screens/Settings/address.tsx
Due: lint-front-end

removed doc as present in graphiql
  auth-server/README.md
Due: lint-back-end

showing email warning only if email is set
  front-end/src/screens/Settings/email.tsx
Due: lint-front-end

fix
  auth-server/test/resolvers/mutation/resendVerifyEmailToken.spec.ts
Due: lint-back-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
