Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

lint-front-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd front-end
  - yarn install
  - yarn lint
  tags:
  - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible: true
  dependencies: []
  script:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - cd auth-server
  - yarn install
  - yarn lint
  tags:
  - linux-docker

Update auth-server/src/utils/messages.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

Added web3 accounts
  front-end/src/screens/AddressLoginForm/index.tsx
Due: lint-front-end

pointing bottom
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

Removed show linked address
  front-end/src/screens/AddressLoginForm/index.tsx
Due: lint-front-end

topic var to className
  front-end/src/ui-components/TopicTag.tsx
Due: lint-front-end

Method on GovernanceCard (#597)
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Listings/MotionsListing.tsx
  front-end/src/components/Listings/ProposalsListing.tsx
  front-end/src/components/Listings/ReferendaListing.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/OnChain/Motions/query.ts
  front-end/src/screens/OnChain/Proposals/query.ts
  front-end/src/screens/OnChain/Referenda/query.ts
  front-end/src/ui-components/Address.tsx
  front-end/src/ui-components/OnchainCreationLabel.tsx
  front-end/src/ui-components/StatusTag.tsx
  front-end/src/ui-components/TopicTag.tsx
Due: lint-front-end

Added redis to test
  auth-server/docker-compose-test.yaml
Due: lint-back-end

turnout rather than total
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
Due: lint-front-end

setup
  front-end/src/App.tsx
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/components/Login/query.tsx
  front-end/src/generated/graphql.tsx
  front-end/src/screens/AddressLoginForm/query.ts
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/Form.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

change layout
  front-end/src/screens/AddressLoginForm/index.tsx
  front-end/src/screens/LoginForm/index.tsx
Due: lint-front-end

Added redis url env var in auth service
  kubernetes/polkassembly/auth-server-config.yaml
  kubernetes/polkassembly/auth-server-deployment.yaml
Due: none

lint
  chain-db-watcher/.eslintignore
  chain-db-watcher/.eslintrc.json
  chain-db-watcher/package.json
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/tsconfig.json
  chain-db-watcher/yarn.lock
Due: none

Add progress bar and adaptive quorum bias for referenda (#595)
  front-end/package.json
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/Proposals/ProposalVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/ReferendumVoteInfo.tsx
  front-end/src/components/Post/GovernanceSideBar/Referenda/VoteReferendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/types.ts
  front-end/src/ui-components/VoteProgress.tsx
  front-end/src/util/formatBnBalance.ts
  front-end/src/util/getEncodedAddress.ts
  front-end/src/util/getPassingThreshold.ts
  front-end/src/util/newton-raphson.ts
  front-end/src/util/solveQuadraticEquation.ts
  front-end/yarn.lock
Due: lint-front-end

move to dev deps
  front-end/package.json
Due: lint-front-end

use npx
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: none

duplicate
  front-end/package.json
Due: lint-front-end

[chain-db-watcher] Unifyed linting accross projects (#602)
  chain-db-watcher/.eslintignore
  chain-db-watcher/.eslintrc.json
  chain-db-watcher/package.json
  chain-db-watcher/src/generated/chain-db-graphql.ts
  chain-db-watcher/src/generated/discussion-db-graphql.ts
  chain-db-watcher/src/graphql_helpers.ts
  chain-db-watcher/src/sync/getter.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/src/sync/utils.ts
  chain-db-watcher/tsconfig.json
  chain-db-watcher/yarn.lock
Due: none

toggle web2 login
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/GlobalStyle.tsx
Due: lint-front-end

add linting
  .gitlab-ci.yml
Due: none

using Form
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/screens/LoginForm/index.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

fix kindof and minimist security vulns
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Moved password reset token to redis
  auth-server/migrations/20200406182634_password_reset_token_remove.js
  auth-server/src/model/PasswordResetToken.ts
  auth-server/src/services/auth.ts
  auth-server/src/services/email.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

add eslint-plugin-node
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: none

fix
  auth-server/src/services/auth.ts
Due: lint-back-end

fix kindof and minimist security vulns (#605)
  auth-server/package.json
  auth-server/yarn.lock
Due: lint-back-end

Add linting for chain-db-watcher to CI (#604)
  .gitlab-ci.yml
  chain-db-watcher/package.json
  chain-db-watcher/yarn.lock
Due: none

fix
  front-end/src/types.ts
Due: lint-front-end

removed unused message
  auth-server/src/utils/messages.ts
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
Due: lint-back-end

fix test
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
Due: lint-back-end

fix test
  auth-server/test/resolvers/mutation/requestResetPassword.spec.ts
  auth-server/test/services/email/email.spec.ts
Due: lint-back-end

lint fix
  front-end/src/components/Reactionbar/ReactionButton.tsx
Due: lint-front-end

toggle refactor
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/screens/LoginForm/index.tsx
Due: lint-front-end

dropdown
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

h3 in components + mobile
  front-end/src/components/Login/Web2Login.tsx
  front-end/src/components/Login/Web3Login.tsx
  front-end/src/screens/LoginForm/index.tsx
Due: lint-front-end

log log log
  chain-db-watcher/package.json
  chain-db-watcher/src/index.ts
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/yarn.lock
Due: none

not needed
  chain-db-watcher/package.json
  chain-db-watcher/src/sync/index.ts
  chain-db-watcher/yarn.lock
Due: none

Update front-end/src/ui-components/AddressDropdown.tsx
  front-end/src/ui-components/AddressDropdown.tsx
Due: lint-front-end

Path conditions:
  lint-front-end: any of: front-end/**/*
  lint-back-end: any of: auth-server/**/*
