Repository paritytech/polkassembly: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-end, lint-back-end

.gitlab-ci.yml:

image: parity/kubetools:latest
variables:
  KUBE_NAMESPACE:                  "polkassembly"
  CI_REGISTRY:                     "gcr.io/test-installations-222013"
  DOCKER_TAG:                      $CI_COMMIT_REF_SLUG
  GIT_STRATEGY:                    fetch
  GIT_DEPTH:                       3

stages:
  - test
  - dockerize
  - deploy
  - post-deploy

cache:
  key:                             '${CI_JOB_NAME}'
  paths:
    - node_modules/
    - packages/*/node_modules/

#### stage:                        test

lint-front-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd front-end
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "front-end/**/*"
  tags:
    - linux-docker

lint-back-end:
  stage: test
  image: node:12
  interruptible:                   true
  dependencies:                    []
  script:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - cd auth-server
    - yarn install
    - yarn lint
  rules:
    - changes:
      - "auth-server/**/*"
  tags:
    - linux-docker

#### stage:                        dockerize

.build_and_push:                   &build_and_push
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  tags:
    - kubernetes-parity-build
  image: docker:git
  services:
    - docker:dind
  script:
    - POD_NAME=$(echo ${CI_JOB_NAME} | sed -E 's/^[[:alnum:]]+-//')
    - export DOCKER_IMAGE="${CI_REGISTRY}/${KUBE_NAMESPACE}-${POD_NAME}"
    - export DOCKER_IMAGE_FULL_NAME=$DOCKER_IMAGE:$DOCKER_TAG
    - echo "$BUILD_ARGS"
    - echo "$DOCKER_REGISTRY_JSON" | docker login -u _json_key --password-stdin https://gcr.io
    - eval "docker build -t" "$DOCKER_IMAGE_FULL_NAME" "$BUILD_ARGS" "$POD_NAME"
    - docker push "$DOCKER_IMAGE_FULL_NAME"

dockerize-front-end:
  stage: dockerize
  environment:
    name: parity-build
  before_script:
    - export BUILD_ARGS="--build-arg REACT_APP_HASURA_GRAPHQL_URL=$(printf \"$REACT_APP_HASURA_GRAPHQL_URL\")"
    - export BUILD_ARGS="$BUILD_ARGS --build-arg REACT_APP_JWT_PUBLIC_KEY=$(printf "%s" \'"$REACT_APP_JWT_PUBLIC_KEY"\')"
  only:
    - master
  <<: *build_and_push

dockerize-auth-server:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

dockerize-chain-db-watcher:
  stage: dockerize
  environment:
    name: parity-build
  only:
    - master
  <<: *build_and_push

#### stage:                        deploy

deploy:
  stage: deploy
  variables:
    http_upgrade: '$http_upgrade' # hack, to make nginx conf work with envsubst
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # check syntax
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst | kubectl --dry-run --validate -n polkassembly apply -f -; done
    # print rendered yaml
    - for f in kubernetes/polkassembly/*yaml; do echo $f; cat $f | envsubst; echo '---'; done
    # deploy yaml to cluster
    - for f in kubernetes/polkassembly/*yaml; do cat $f | envsubst | kubectl -n polkassembly apply -f -; done

#### stage:                        post-deploy

post-deploy:
  stage: post-deploy
  environment:
    name: dashboards-cluster-1
  tags:
    - kubernetes-parity-build
  only:
    - master
  script:
    # redeploy all pod's
    - for d in $(kubectl -n $KUBE_NAMESPACE get deployments | awk '{print $1}' | grep -v NAME);
      do
        r=$(kubectl -n $KUBE_NAMESPACE get -o template deployments "$d" --template={{.spec.replicas}});
        kubectl scale deployment $d --replicas=0 -n $KUBE_NAMESPACE &&
        kubectl scale deployment $d --replicas=$r -n $KUBE_NAMESPACE;
      done

added env var hook link in deployment
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

removed unused message
  auth-server/src/utils/messages.ts
Due: lint-back-end

fix
  auth-server/src/utils/messages.ts
Due: lint-back-end

Getting remote schema url from env vars
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582552076335_table_posts_drop_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552076335_table_posts_drop_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552087743_table_comments_drop_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552087743_table_comments_drop_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552105476_update_remote_schema_auth/down.yaml
  hasura/hasura-migrations/migrations/1582552105476_update_remote_schema_auth/up.yaml
  hasura/hasura-migrations/migrations/1582552134767_table_posts_create_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552134767_table_posts_create_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552151971_table_comments_create_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552151971_table_comments_create_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552229731_table_onchain_links_drop_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582552229731_table_onchain_links_drop_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582552237735_table_onchain_links_drop_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1582552237735_table_onchain_links_drop_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1582552248166_table_onchain_links_drop_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1582552248166_table_onchain_links_drop_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1582552281519_update_remote_schema_chain-db/down.yaml
  hasura/hasura-migrations/migrations/1582552281519_update_remote_schema_chain-db/up.yaml
  hasura/hasura-migrations/migrations/1582552468902_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582552468902_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582552496160_table_onchain_links_create_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1582552496160_table_onchain_links_create_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1582552517341_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1582552517341_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

Getting remote schema url from env vars (#407)
  hasura/docker-compose.yaml.example
  hasura/hasura-migrations/migrations/1582552076335_table_posts_drop_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552076335_table_posts_drop_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552087743_table_comments_drop_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552087743_table_comments_drop_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552105476_update_remote_schema_auth/down.yaml
  hasura/hasura-migrations/migrations/1582552105476_update_remote_schema_auth/up.yaml
  hasura/hasura-migrations/migrations/1582552134767_table_posts_create_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552134767_table_posts_create_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552151971_table_comments_create_remote_relationship_author/down.yaml
  hasura/hasura-migrations/migrations/1582552151971_table_comments_create_remote_relationship_author/up.yaml
  hasura/hasura-migrations/migrations/1582552229731_table_onchain_links_drop_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582552229731_table_onchain_links_drop_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582552237735_table_onchain_links_drop_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1582552237735_table_onchain_links_drop_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1582552248166_table_onchain_links_drop_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1582552248166_table_onchain_links_drop_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1582552281519_update_remote_schema_chain-db/down.yaml
  hasura/hasura-migrations/migrations/1582552281519_update_remote_schema_chain-db/up.yaml
  hasura/hasura-migrations/migrations/1582552468902_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582552468902_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582552496160_table_onchain_links_create_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1582552496160_table_onchain_links_create_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1582552517341_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1582552517341_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

generic styling
  front-end/src/ui-components/HelperTooltip.tsx
Due: lint-front-end

Moved balance to own component
  front-end/src/components/Balance.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

removed unused code
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

Helper Tooltip (#396)
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/screens/SignupForm/index.tsx
  front-end/src/ui-components/HelperTooltip.tsx
Due: lint-front-end

removed post create hook
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/routes.ts
Due: lint-back-end

removed post create hook
  hasura/hasura-migrations/migrations/1582534349274_create_trigger_post_create/down.yaml
  hasura/hasura-migrations/migrations/1582534349274_create_trigger_post_create/up.yaml
Due: none

removed HASURA_POST_CREATE_EVENT_HOOK
  hasura/docker-compose.yaml.example
Due: none

removed HASURA_POST_CREATE_EVENT_HOOK
  kubernetes/polkassembly/hasura-config.yaml
  kubernetes/polkassembly/hasura-deployment.yaml
Due: none

added HASURA_EVENT_SECRET to deployment
  kubernetes/polkassembly/auth-server-deployment.yaml
Due: none

codegen
  front-end/src/generated/graphql.tsx
  front-end/src/ui-components/Form.tsx
Due: lint-front-end

before fix
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
Due: lint-front-end

fix onchain links
  hasura/hasura-migrations/migrations/1582631584192_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582631584192_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582631619424_table_onchain_links_drop_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582631619424_table_onchain_links_drop_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582631659991_table_onchain_links_create_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1582631659991_table_onchain_links_create_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1582631766314_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1582631766314_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1582631823541_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582631823541_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
Due: none

sending message on event hook
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

codegen after fix
  front-end/src/generated/graphql.tsx
Due: lint-front-end

added return messages
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

dropdown error
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

fix onchain links (#409)
  hasura/hasura-migrations/migrations/1582631584192_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582631584192_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582631619424_table_onchain_links_drop_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582631619424_table_onchain_links_drop_remote_relationship_onchain_proposal/up.yaml
  hasura/hasura-migrations/migrations/1582631659991_table_onchain_links_create_remote_relationship_onchain_referendum/down.yaml
  hasura/hasura-migrations/migrations/1582631659991_table_onchain_links_create_remote_relationship_onchain_referendum/up.yaml
  hasura/hasura-migrations/migrations/1582631766314_table_onchain_links_create_remote_relationship_onchain_motion/down.yaml
  hasura/hasura-migrations/migrations/1582631766314_table_onchain_links_create_remote_relationship_onchain_motion/up.yaml
  hasura/hasura-migrations/migrations/1582631823541_table_onchain_links_create_remote_relationship_onchain_proposal/down.yaml
  hasura/hasura-migrations/migrations/1582631823541_table_onchain_links_create_remote_relationship_onchain_proposal/up.yaml
Due: none

Added notification control center
  auth-server/migrations/20200225193118_notification.js
  auth-server/src/model/Notification.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

Added notification prefrence change API
  auth-server/src/resolvers/index.ts
  auth-server/src/schema/index.ts
  auth-server/src/services/auth.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

added mutation and schema
  auth-server/src/resolvers/mutation/updateNotification.ts
  auth-server/src/schema/mutation/updateNotification.ts
Due: lint-back-end

default
  auth-server/src/resolvers/mutation/updateNotification.ts
  auth-server/src/services/auth.ts
Due: lint-back-end

arguments as children
  front-end/src/components/Post/PostGovernanceInfo/PostMotionInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostOnChainInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostProposalInfo.tsx
  front-end/src/components/Post/PostGovernanceInfo/PostReferendumInfo.tsx
Due: lint-front-end

Renamed to changeNotificationPreference
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/mutation/changeNotificationPreference.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/mutation/changeNotificationPreference.ts
Due: lint-back-end

Added test for changing notification prefrence
  auth-server/test/resolvers/mutation/changeNotificationPreference.spec.ts
Due: lint-back-end

Notification prefrence check
  auth-server/src/controllers/eventsHook.ts
  auth-server/src/utils/messages.ts
Due: lint-back-end

fix
  auth-server/src/controllers/eventsHook.ts
Due: lint-back-end

Menu with logo
  front-end/src/assets/polkassembly-logo.png
  front-end/src/components/MenuBar/index.tsx
  front-end/src/fonts.css
  front-end/src/import-png.d.ts
  front-end/src/themes/theme.ts
Due: lint-front-end

pass down motionProposalId for voting
  front-end/src/components/Post/GovernanceSideBar/SecondProposal.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
  front-end/src/components/Post/Post.tsx
Due: lint-front-end

wrap up
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/index.tsx
Due: lint-front-end

let me try
  front-end/src/components/Post/GovernanceSideBar/VoteMotion.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
Due: lint-front-end

Polkadot pink, button icons
  front-end/src/components/Comment/EditableCommentContent.tsx
  front-end/src/components/DiscussionCard.tsx
  front-end/src/components/EditablePostContent.tsx
  front-end/src/components/GovernanceCard.tsx
  front-end/src/components/Post/GovernanceSideBar/VoteRefrendum.tsx
  front-end/src/components/Post/PostCommentForm.tsx
  front-end/src/screens/Settings/address.tsx
  front-end/src/themes/theme.ts
  front-end/src/ui-components/Button.tsx
  front-end/src/ui-components/Markdown.tsx
Due: lint-front-end

indentation
  front-end/src/ui-components/Button.tsx
Due: lint-front-end

Notification control center
  auth-server/src/resolvers/index.ts
  auth-server/src/resolvers/query/notification.ts
  auth-server/src/schema/index.ts
  auth-server/src/schema/query/notification.ts
  auth-server/src/schema/type/notification.ts
  front-end/src/generated/graphql.tsx
  front-end/src/screens/Settings/index.tsx
  front-end/src/screens/Settings/notification.tsx
  front-end/src/screens/Settings/query.ts
Due: lint-front-end, lint-back-end

status tag max-width
  front-end/src/components/GovernanceCard.tsx
Due: lint-front-end

classname prop
  front-end/src/ui-components/Form.tsx
Due: lint-front-end
